{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div><h1>{{ block_ }}</h1></div>
    <form action="" method="post">
        {% csrf_token %}
        {% for f in form %}
        <div class="form-row col-md-6 mb-0">
            {{ f|as_crispy_field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Добавить</button>
     <div>
            {% for i in exp_data %}
                <div><li> {{ i }} </li></div>
            {% endfor %}
     </div>

    </form>
{% endblock %}
