{% extends 'base.html' %}
{% load crispy_forms_tags %}

<div class="bor_calc">
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% for f in form %}
    <div class="form-row col-md-6 mb-0">
        {{ f|as_crispy_field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Рассчитать</button>
    <div class="col-sm-6">
        <ul>
        {% for r in result%}
            <li>
                <label class="form-label">{{ r }}</label>
            </li>
        {% endfor %}
        </ul>
    </div>
</form>
{% endblock %}
</div>



{% block links %}
    <li><a href="{% url 'main_page' %}">На главную</a></li>
    <li><a href="{% url 'add_album' %}">Добавить альбом</a></li>
{% endblock %}