<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {% for f in form %}
        <p><label class="form-label">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Рассчитать</button>
    <div class="col-sm-6">
        <ul>
        {% for r in result%}
            <li>
                <label class="form-label">{{ r }}</label>
            </li>
        {% endfor %}
        </ul>



<!--     <p><label class="form-label"> </label>{{ result }}</p>-->
    </div>
</form>

<ul>
    <li>
        <a href="{% url 'main_page' %}">На главную</a>
    </li>
    <li>
        <a href="{% url 'add_album' %}">Добавить альбом</a>
    </li>
</ul>


</body>
</html>