{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <h1>{{ block_ }}</h1>
    </div>
    <div>
        <img src="data:image/png;base64,{{graph}}" alt="" height="100%" width="100%">
    </div>
    <ul>
        <label>Предполагаемое время наступления критичности:  {{ crit_time }}</label>
    </ul>

     <a href="{% url 'add_points' %}">Добавить экспериментальные точки</a>
<!--    <button type="button" class="btn btn-primary" href="{% url 'add_points' %}">Добавить экспериментальные точки</button>-->
{% endblock %}
