{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <h1>{{ block_ }}</h1>
        <img src="data:image/png;base64,{{graph}}" alt="" height="100%" width="100%">
        <div>
            {% for i in exp_data %}
                <div><li>{{ i }}</li></div>
            {% endfor %}
        </div>
    </div>
    <ul>
        <label>Предполагаемое время наступления критичности:  {{ crit_time }}</label>
    </ul>
    <ul>
        <a href="{% url 'add_points' %}">Добавить экспериментальные точки</a>
    </ul>
{% endblock %}
