{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <style>
        #chartdiv {
          width: 100%;
          height: 550px;
        max-width: 100%
        }
    </style>

    <script type="text/javascript">
        var crit_curve_json = "{{ crit_curve_dict }}";
        var setting_curve_json = "{{ setting_curve_dict }}";
        var water_exchange_curve_json = "{{ water_exchange_dict }}";

        crit_curve_json             = crit_curve_json.replace(/&quot;/ig,'"');
        setting_curve_json          = setting_curve_json.replace(/&quot;/ig,'"');
        water_exchange_curve_json   = water_exchange_curve_json.replace(/&quot;/ig,'"');

        var crit_curve              = JSON.parse(crit_curve_json);
        var setting_curve           = JSON.parse(setting_curve_json);
        var water_exchange_curve    = JSON.parse(water_exchange_curve_json);

        // alert(Object.values(water_exchange_curve));


        am5.ready(function() {

        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("chartdiv");


        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([
        am5themes_Animated.new(root)
        ]);


        // Create chart
        // https://www.amcharts.com/docs/v5/charts/xy-chart/
        var chart = root.container.children.push(am5xy.XYChart.new(root, {
        panX: true,
        panY: true,
        wheelX: "panX",
        wheelY: "zoomX",
        pinchZoomX:true
        }));


        // Add cursor
        // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
        var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
        behavior: "none"
        }));
        cursor.lineY.set("visible", false);


        // Create axes
        // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
        var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
        baseInterval: {
            timeUnit: "minute",
            count: 1
        },
        renderer: am5xy.AxisRendererX.new(root, {}),
        tooltip: am5.Tooltip.new(root, {})
        }));

        var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
        renderer: am5xy.AxisRendererY.new(root, {})
        }));


        // Add series
        // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
        var series = chart.series.push(am5xy.LineSeries.new(root, {
        name: "Series",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "value",
        valueXField: "date",
        }));


        // Add scrollbar
        // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
        chart.set("scrollbarX", am5.Scrollbar.new(root, {
        orientation: "horizontal"
        }));


        // Set data
        series.data.setAll(crit_curve);
        series.data.setAll(water_exchange_curve);
        // series.data.setAll(setting_curve);
        


        // Make stuff animate on load
        // https://www.amcharts.com/docs/v5/concepts/animations/
        series.appear(1000);
        chart.appear(1000, 100);

        }); // end am5.ready()
    </script>

    

   <div> 
       <h1>{{ block_ }}</h1>
       <div id="chartdiv"></div>
       <div>
           {% for i in exp_data %}
               <div>{{ i }}</div>
           {% endfor %}
       </div>
<!--    </div>
    <h4>Предполагаемое время наступления критичности: <strong>{{ crit_time }}</strong></h4>
    <ul>
      <a href="{% url 'add_points' %}" class="btn btn-primary">Добавить экспериментальные точки</a>-->
    </ul>
{% endblock %}
