<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <div class="row g-3">
        <div class="col-sm-6">
          <label for="param1" class="form-label">parameter 1</label>
          <input type="text" class="form-control" id="param1" placeholder="" value="" required="">
            <div>
                --------------
            </div>

    </div>

    <div class="col-sm-6">
          <label for="param2" class="form-label">parameter 2</label>
          <input type="text" class="form-control" id="param2" placeholder="" value="" required="">
            <div>
                --------------
            </div>
        </div>
    </div>

    <div class="col-sm-6">
         result:
            {{ result }}
    </div>

</body>
</html>