<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
<!--        <input id="param1" type="text" value="">-->
        <input type="submit">
    </form>

<!--    <div class="col-sm-6">-->
<!--          <label for="param2" class="form-label">parameter 2</label>-->
<!--          <input type="text" class="form-control" id="param2" placeholder="" value="" required="">-->
<!--        </div>-->

    <div class="col-sm-6">
         result:
            {{ result }}
    </div>

</body>
</html>